<ion-content class="ion-padding welcome-content">

  <div class="welcome-container">
    <ion-icon name="barbell-outline" class="welcome-icon"></ion-icon>
    <h1>Dobrodošli u<br><span>Fitness Planner</span></h1>

    <div class="buttons">
      <ion-button expand="block" style="--background: #F7F7FF; --color: #BOJA_TEKSTA; --background-hover: #F7F7FF; --background-hover-opacity: 1;" (click)="goToLogin()">Prijavi se</ion-button>
  <ion-button expand="block" style="--background: #279AF1; --color: #ffffff; --background-hover: #279AF1; --background-hover-opacity: 1;" (click)="goToRegister()">Registruj se</ion-button>
    </div>
  </div>

</ion-content>
