<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Planovi treninga</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list>
    <ion-item button detail *ngFor="let workout of workouts" (click)="goToDetail(workout.id)">
      <ion-label>
        <h2>{{ workout.name }}</h2>
        <p>{{ workout.type }}</p>
      </ion-label>
      <ion-button slot="end" fill="clear" color="success" (click)="startSession(workout, $event)">
          <ion-icon name="play-outline"></ion-icon>
        </ion-button>
        <ion-button slot="end" fill="clear" color="danger" (click)="deleteWorkout(workout.id, $event)">
          <ion-icon name="trash-outline"></ion-icon>
        </ion-button>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addWorkout()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>