<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item fill="outline">
    <ion-label position="stacked">Email</ion-label>
    <ion-input type="email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item fill="outline">
    <ion-label position="stacked">Lozinka</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-button expand="block" class="ion-margin-top" (click)="login()">Prijavi se</ion-button>
  <ion-button expand="block" fill="outline" (click)="goToRegister()">Nemam nalog</ion-button>

</ion-content>